<h1>Pending Song Requests</h1>
<% if @song_requests.empty? %>
  <h3>There are currently no song requests pending</h3>
<% else %>
  <%= jqm_listview do %>
  <% @song_requests.each do |song_request| %>
    <% song,singer,dj = song_request.song,song_request.singer,song_request.dj %>
    <li>
      <% if current_user.dj? %>
        <%= link_to song_request do %>
          <h3><%= song.artist+' - '+song.title %></h3>
          <p>Singer: <%= song_request.singer_name %>
          <i>(Requested <%= time_ago_in_words(song_request.created_at) %> ago)</i>
          <%= '<br/>Key: '.html_safe+song_request.key unless song_request.key.empty? %>
          <%= '<br/>Comments: '.html_safe+song_request.comments unless song_request.comments.empty? %>
          </p>
        <% end %>
        <%= link_to 'Dismiss', archive_song_request_path(song_request), 'data-icon' => 'check' %>
        <!--
        <td><%= link_to(song.artist+' - '+song.title, [dj,song])%></td>
        <td><%= singer ? link_to(singer.name, singer) : song_request.singer_name %>
        <td><%= song_request.key %></td>
        <td><%= song_request.comments %></td>
        -->
      <% elsif current_user.singer? %>
        <%= link_to song_request do %>
          <h3><%= song.artist+' - '+song.title %></h3>
          <p><%= dj.name %><br/>
          </p>
        <% end %>
      <% elsif current_user.admin? %>
        <%= link_to song_request do %>
          <h3><%= song.artist+' - '+song.title %></h3>
          <p>Dj: <%= dj.name %>
          <br/>Singer: <%= song_request.singer_name %>
          <%= '<br/>Key: '.html_safe+song_request.key unless song_request.key.empty? %>
          <%= '<br/>Comments: '.html_safe+song_request.comments unless song_request.comments.empty? %>
          </p>
        <% end %>
        <%= link_to 'Restore', unarchive_song_request_path(song_request), 'data-icon' => 'delete' if song_request.archived %>
        <%= link_to 'Dismiss', archive_song_request_path(song_request), 'data-icon' => 'check' unless song_request.archived %>
      <% end %>
        <!--
        <td><%= link_to 'Details', song_request %></td>
        <td><%= link_to 'Edit', edit_song_request_path(song_request) %></td>
        <td><%= link_to 'Destroy', song_request, confirm: 'Are you sure?', method: :delete %></td>
        -->
    </li>
  <% end %>
  <% end %>
  <% if current_user.dj? %>
    <%= jqm_collapsible :collapsed => true, 'data-content-theme' => :e do %>
    <h3>Archived Requests</h3>
    <%= jqm_listview do %>
    <% @archived_song_requests.each do |song_request| %>
      <% song,singer,dj = song_request.song,song_request.singer,song_request.dj %>
      <li>
        <%= link_to song_request do %>
          <h3><%= song.artist+' - '+song.title %></h3>
          <p>Singer: <%= song_request.singer_name %>
          <i>(Requested <%= time_ago_in_words(song_request.created_at) %> ago)</i>
          <%= '<br/>Key: '.html_safe+song_request.key unless song_request.key.empty? %>
          <%= '<br/>Comments: '.html_safe+song_request.comments unless song_request.comments.empty? %>
          </p>
        <% end %>
        <%= link_to 'Restore', unarchive_song_request_path(song_request), 'data-icon' => 'back' %>
      </li>
    <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>

