<h2>Singer Profile</h2>

<p>
  <b>Name:</b>
  <%= @singer.name %> (<%= link_to 'edit', [:edit,@singer] %>)
</p>

<p>
  <b>Email:</b>
  <%= @singer.user.email %> (<%= link_to 'edit', edit_user_registration_path %>)
</p>

<%= link_to 'Back', root_path %>
