<h1>Song Requests</h1>

<table>
  <tr>
    <% if current_user.role == 'dj' %>
      <th>Song</th>
      <th>Singer</th>
      <th>Key</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    <% elsif current_user.role == 'singer' %>
      <th>Dj</th>
      <th>Song</th>
      <th>Key</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @song_requests.each do |song_request| %>
  <% song,singer,dj = song_request.song,song_request.singer,song_request.dj %>
  <tr>
    <% if current_user.role == 'dj' %>
      <td><%= link_to(song.artist+' - '+song.title, song)%></td>
      <% if singer %>
        <td><%= link_to song_request.singer_name, singer %>
      <% else %>
        <td><%= song_request.singer_name %></td>
      <% end %>
      <td><%= song_request.key %></td>
      <td><%= song_request.comments %></td>
      <td><%= link_to 'Details', song_request %></td>
      <td><%= link_to 'Edit', edit_song_request_path(song_request) %></td>
      <td><%= link_to 'Destroy', song_request, confirm: 'Are you sure?', method: :delete %></td>
    <% elsif current_user.role == 'singer' %>
      <td><%= link_to dj.name, dj %></td>
      <td><%= link_to(song.artist+' - '+song.title, song)%></td>
      <td><%= song_request.key %></td>
      <td><%= song_request.comments %></td>
      <td><%= link_to 'Details', song_request %></td>
      <td><%= link_to 'Edit', edit_song_request_path(song_request) %></td>
      <td><%= link_to 'Destroy', song_request, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song request', new_song_request_path %>
