<h1>Song Requests</h1>

<table>
  <tr>
    <% if current_user.dj? %>
      <th>Song</th>
      <th>Singer</th>
      <th>Key Request</th>
      <th>Comments</th>
    <% elsif current_user.singer? %>
      <th>Dj</th>
      <th>Song</th>
    <% elsif current_user.admin? %>
      <th>Dj</th>
      <th>Singer</th>
      <th>Song</th>
    <% end %>
      <th></th>
      <th></th>
      <th></th>
  </tr>

<% @song_requests.each do |song_request| %>
  <% song,singer,dj = song_request.song,song_request.singer,song_request.dj %>
  <tr>
    <% if current_user.dj? %>
      <td><%= link_to(song.artist+' - '+song.title, [dj,song])%></td>
      <td><%= singer ? link_to(singer.name, singer) : song_request.singer_name %>
      <td><%= song_request.key %></td>
      <td><%= song_request.comments %></td>
    <% elsif current_user.singer? %>
      <td><%= link_to dj.name, dj %></td>
      <td><%= link_to(song.artist+' - '+song.title, [dj,song])%></td>
    <% elsif current_user.admin? %>
      <td><%= link_to dj.name, dj %></td>
      <td><%= singer ? link_to(singer.name, singer) : song_request.singer_name %>
      <td><%= link_to(song.artist+' - '+song.title, [dj,song])%></td>
    <% end %>
      <td><%= link_to 'Details', song_request %></td>
      <td><%= link_to 'Edit', edit_song_request_path(song_request) %></td>
      <td><%= link_to 'Destroy', song_request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

