<h1>DJ Preferences</h1>
<%= form_for(@dj) do |f| %>
  <% if @dj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dj.errors.count, "error") %> prohibited this dj from being saved:</h2>

      <ul>
      <% @dj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "DJ name: this is how singers will look up your songlist." %>
    <%= f.text_field :name, :class => 'input-text' %>
  </div>
  <div class="field">
    <%= f.label "Make your songlist public" %><br />
    <%= f.check_box :public %>
  </div>
<!--  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :payed_through %><br />
    <%= f.date_select :payed_through %>
  </div>
  <div class="field">
    <%= f.label :free %><br />
    <%= f.check_box :free %>
  </div>
  <div class="field">
    <%= f.label :promocode %><br />
    <%= f.text_field :promocode %>
  </div>
-->
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
