<p>
  <b>Name:</b>
  <%= @dj.name %>
</p>

<p>
  <b>Public:</b>
  <%= @dj.public %>
</p>

<p>
  <b>Payed through:</b>
  <%= @dj.payed_through %>
</p>

<%= link_to 'Songs', dj_songs_path(@dj) %> |
<%= link_to 'Edit', edit_dj_path(@dj) %> |
<%= link_to 'Back', djs_path %>
