<h2><%= link_to @dj.name, @dj %>/Songs by <%= @artist %></h2>
<%= paginate @songs %>
<%= jqm_listview do %>
  <% @songs.each do |song| %>
    <li><%= link_to song.title, new_dj_song_song_request_path(@dj,song) %></li>
  <% end %>
<% end %>
<%= paginate @songs %>

