<h1><%= @dj.name %> - All Songs</h1>
<%= paginate @songs %>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Disc</th>
    <th>Identifier</th>
    <!--<th>Notes</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.artist %></td>
    <td><%= song.title %></td>
    <td><%= song.disc %></td>
    <td><%= song.identifier %></td>
    <!--<td><%= song.notes %></td>-->
    <td><%= link_to 'Show', [@dj,song] %></td>
    <td><%= link_to 'Edit', edit_dj_song_path(@dj,song) %></td>
    <td><%= link_to 'Delete', [@dj,song], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_dj_song_path %>
