<p>
  <b>Dj:</b>
  <%= @song.dj.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Disc:</b>
  <%= @song.disc %>
</p>

<p>
  <b>Identifier:</b>
  <%= @song.identifier %>
</p>

<p>
  <b>Notes:</b>
  <%= @song.notes %>
</p>


<%= link_to 'Request', new_dj_song_song_request_path(@dj,@song) %> |
<%= link_to 'Edit', edit_dj_song_path(@dj,@song) %> |
<%= link_to 'Back', dj_songs_path(@dj) %>
