<h2><%= link_to @dj.name, @dj %>/Songs by Title</h2>
<%= page_entries_info(@songs).html_safe %>
<%= paginate @songs %>
<%= jqm_listview do %>
  <% @songs.each do |song| %>
    <li><%= link_to song.title+' ('+song.artist+')', new_dj_song_song_request_path(@dj,song) %></li>
  <% end %>
<% end %>
<%= paginate @songs %>

