<h2><%= link_to @dj.name, @dj %>/<%= @query %></h2>
<%= form_tag search_dj_songs_path(@dj), method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<%= page_entries_info(@songs).html_safe %>
<%= paginate @songs %>
<%= jqm_listview do %>
  <% @songs.each do |song| %>
    <li>
      <%= link_to new_dj_song_song_request_path(@dj,song) do %>
        <h2><%= song.title %></h2>
        <p><%= song.artist %></p>
      <% end %>
    </li>
  <% end %>
<% end %>
<%= paginate @songs %>
