<% if user_signed_in? %>
  <li class="has-flyout"><a href="#"><%= current_user.name %></a>
    <div class="flyout small">
      <ul>
        <li>
        <%= link_to 'Profile', current_user.account %>
        </li>
        <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
        </li>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
        </li>
      </ul>
    </div>
  </li>
  <% if current_user.role == 'dj' %>
    <li>
    <%= link_to('Preferences', edit_dj_path(current_user.account))  %>
    </li>
    <li>
    <%#= link_to('Songlist', edit_dj_songs_path(current_user.account))  %>
    </li>
  <% elsif current_user.role == 'singer' %>
    <li>
    <%= link_to('Preferences', edit_singer_path(current_user.account))  %>
    </li>
  <% end %>

<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
