<% content_for :links_and_includes do %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% end %>

<% content_for :body do %>
  <div id="header" class="container">
    <div class="row">
      <div class="five columns">
        <%= link_to image_tag("LetMeSingNow_c.jpg"), root_url %>
      </div>
      <div class="seven columns">
        <ul class="nav-bar">
          <%= render 'navigation' %>
        </ul>
      </div>
    </div>
  </div>
  <div id="main" class="container">
    <div class="row">
      <div class="twelve columns">
        <%= render 'flash',:flash => flash %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/base' %>
