<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
  <title>LetMeSingNow,llc</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Let Me Sing Now: Sign up for Karaoke from your phone!">
  <meta name="author" content="LetMeSingNow,llc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <ul class="nav-bar">
        <%= render 'layouts/navigation' %>
      </ul>
      <%= render 'layouts/flash' %>

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
